/*start flex */

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.d-block {
    display: block;
}


.alin-c {
    align-items: center;
}

.spa-bet {
    justify-content: space-between;
}

.betwen-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jus-c {
    justify-content: center;
}

@media (max-width:767px) {
    .bolck-mobile {
        display: block;
    }
}

/*end flex */
.p-relative {
    position: relative;
}

/* start padding */

.p-20 {
    padding: 20px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-0 {
    padding: 0;
}

.pt-20 {
    padding-top: 20px;
}

.po{
    padding: 4px 10px;
}

/* end padding */
/* start margin */
.m-20 {
    margin: 20px;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* end margin */

/* start color */
.bg-eee {
    background-color: #eee;
}

.bg-white {
    background-color: white;
}

.c-black {
    color: black;
}

.c-main {
    color: var(--main-color);
}
.bg-main{
    background-color: var(--main-color);
}

.bg-blue{
    background-color: blue;
}
.c-white{
    color: white;
}
.b-none{
    border: none;
}

/* end color */

.fs-14 {
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}

.red-6 {
    border-radius: 6px;
}

.rd-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

/* start text */
.text-c {
    text-align: center;
}

@media (max-width:767px) {
    .txt-c-mobile {
        text-align: center;
    }
}

/* end text */

/* start list */
.lis-s {
    list-style: none;
}

/* end list */
.w-full {
    width: 100%;
}
.w-fit{
    width: fit-content;
}